body {
  background:#4a4e69;
}
#Calc-body {
  border: 3px solid #001d3d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 350px;
  background:#003566;
}
#top-space {
  margin: 0 auto;
  height: 50px;
}
#screen {
  margin: 0 auto;
  height: 70px;
  border: 2px solid #001d3d;
  margin-bottom: 3px;
  border-radius: 5px;
  text-align: end;
  font-size: 32px;
  font-weight: bold;
  padding-right: 20px;
  background: lightgray;
}
#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  width: 83px;
  height: 83px;
  margin: 3px;
  border: 1px solid #001d3d;
  border-radius: 5px;
  background: lightgray;
  font-size: 25px;
  font-weight: bold;
}
.btn:hover{
  background: gray;
}
.Row {
  display: flex;
}
#Desc {
  width: 370px;
  margin: 0 auto;
  text-align: center;
  background: lightgray;
  border-radius: 5px;
  border: 3px solid #001d3d;
}